.footer__columns {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}


@media screen and (max-width:320px) {
    .footer__columns {
        flex-direction: column;
    }
}