.cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    font-family: 'Inter' , 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px 412px 245px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

@media screen and (max-width:1024px) {
    .cover__subtitle {
        margin: 32px 332px 195px;
    }
}


@media screen and (max-width:768px) {
    .cover__subtitle {
        margin: 32px 204px 115px;
    }
}

@media screen and (max-width:320px) {
    .cover__subtitle {
        margin: 16px 16px 33px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        
    }
}